@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------background image*/


body {
  /* Location of the image */
  background-image: url("assets/backgrounds/Luxury_home.jpeg");
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
 
  
}

/* For mobile devices */
@media(min-width: 320px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  }
}	

   

.nav-bar{
    margin: 0px;
}



/*--------------------------------------------Heading*/

header{
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo{
    position: relative;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------------------------------Contact button*/

.btn {
    padding-bottom: 15px;
    padding-top: 15px;
    
}
/*--------------------------------------------Heading and description*/

.page-header {
     text-align: left;
     padding-top: 5px;
     padding-left: 5px;
     background-color: #778899;
     color: white;

}

.page-header-content {
    padding-left: 5px;
    background-color: #6495ED;
    
}


    





/*--------------------------------------------Footer*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #778899;
  color: white;
  text-align: center;
}




.social-links { 
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}






/*--------------------------------------------Contact*/ 

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}



/*--------------------------------------------media queries*/ 

@media (max-width: 980px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}    


  